<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>AboutUs</title>

    <style>
      ul.navbar {
              list-style-type: none;
              margin: 0;
              padding: 0;
              background-color: #333;
              overflow: hidden;
          }
  
      ul.navbar li {
              float: left;
          }
  
      ul.navbar li a {
              display: block;
              color: white;
              text-align: center;
              padding: 14px 16px;
              text-decoration: none;
          }
  
      ul.navbar li a:hover {
              background-color: #555;
          }


      /* .container {
            width: 300px;
            margin: 20px;  
            border: 1px solid #ccc;  
            padding: 10px;  
            float: left;  
          } */
    </style>


    <!--Boostrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css">
    <!-- our css -->
    <link rel="stylesheet" type="text/css" href="static/css/style_1.css">
    <!-- JQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

</head>

<body>


  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/about_us">About Us </a></li>
    <li><a href="/tableau">Homicide by City</a></li>
    <li><a href="/tableau1">Demographic</a></li>
    <li><a href="/datatable">Data Table</a></li>
    <li><a href="/ml_form">Arrest Prediction</a></li>
     <li><a href="/resources">Resources</a></li>
    <li><a href="/df1_profile">Data Profile</a></li>
  </ul>
                                    


    
    <a href="https://github.com/AnnLy2023/SMU-Project-4---Homicide">
      GitHub Repositories
    </a>

    <div class="container-fluid">

      <div class="row">

          <div class="col-md-12 text-center">

              <div class="card bg-light mb-12">
                  <div class="card-header"><h4>Team Data CRAJ</h4></div>
          
 </div>
</body>
<body>
  <div class="container">
    <div class="card">
    <img src="static\assets\ann1.jpg" style=width:250px;>
      </a>
      <h1>Ann Ly</h1>
      <p>Ann Ly, a passionate lifelong learner and former nursing home administrator. Currently, she's on the verge of completing the SMU Data Science Boot Camp, and she's eagerly anticipating a transition into the dynamic and exciting realm of data science.
        Beyond her affinity for numbers and algorithms, Ann possesses a profound understanding of the human element, honed through her invaluable experiences in the healthcare industry.
        When she's not diving deep into data, you'll find Ann nurturing her garden, experimenting with delightful new recipes, or embarking on adventures to explore captivating new destinations.
        Ann is thrilled about the opportunity to weave together her diverse background and experiences to offer a distinctive and enriching perspective to the world of data science."</p>
    </div>  
    <div class="container">
      <div class="card">
      <img src="static\assets\Raj1.png" style=width:250px;>
      <h2>Raj Agrawal</h2>
      <p>Raj Agrawal, a dynamic individual who thrives on embracing challenges and brings unwavering passion to his work.
          Raj's interests span a wide spectrum, from his love for cricket to his deep appreciation for the art of data visualization.
          An epicurean at heart, Raj delights in savoring cuisines from diverse cultures, reflecting his adventurous spirit.
          With an unrelenting enthusiasm for data science, he's driven by the quest to uncover fresh insights through data exploration.
          Raj eagerly welcomes the challenge of crafting compelling data narratives enriched with captivating visuals, making complex information accessible and engaging.</p>
    </div>  
    <div class="container">
      <div class="card">
      <img src="static\assets\carlos.png" style=width:250px;>
      <h3>Carlos De La Rosa</h3>
      <p> Carlos De La Rosa, a multifaceted individual who finds joy in various pursuits. Carlos is not only an off-road cycling enthusiast and an art lover but also a passionate data science aficionado. His professional journey has led him to the dynamic world of telecommunications, where he currently thrives.
        Driven by an insatiable curiosity for data science, Carlos embarked on a transformative journey at the SMU Data Analytics Bootcamp. He's on track to graduate in September 2023, with a keen focus on uncovering deeper insights within data and harnessing its power for informed decision-making.
        Beyond his professional and academic endeavors, Carlos enjoys the art of grilling delectable dishes and immersing himself in the captivating world of graphic novels.
        Carlos is poised to bring his diverse interests and expertise to create impactful solutions in the realm of data science."</p>
    </div>  
    <div class="container">
      <div class="card">
      <img src="static\assets\john1.png"style=width:250px;>
      <h4>John Banowsky</h4>
      <p>John Banowsky is a passionate educator and an avid enthusiast of tabletop games. With over 13 years of experience as a dedicated math teacher, John has inspired countless students to embrace the beauty of mathematics and develop problem-solving skills.
        Beyond the classroom, John finds joy in the world of tabletop games, particularly Dungeons & Dragons (D&D). His love for storytelling, strategy, and creativity comes to life as he embarks on epic adventures with friends and fellow gamers.
        As he prepares to embark on a new and exciting journey in life, John is eagerly anticipating his upcoming wedding on October 7th, where he and his partner will begin a new chapter filled with love and happiness. With his passion for teaching and his love for tabletop games, John brings a unique blend of intellect and creativity to every aspect of his life.
        </p>
    </div> 
    </section>
</body>

</html>

 
